<footer class="footer custom-footer py-4 mt-5">
  <div class="container">
    <div class="row align-items-center">
      <!-- Sección de Enlaces -->
      <div class="col-md-4 text-center text-md-start">
        <ul class="footer-links">
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Términos y condiciones</a></li>
          <li><a href="#">Política de privacidad</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </div>

      <!-- Sección de Redes Sociales -->
      <div class="col-md-4 text-center">
        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>

      <!-- Derechos de Autor -->
      <div class="col-md-4 text-center text-md-end">
        <p class=" m-0">© 2024 - Todos los derechos reservados</p>
      </div>
    </div>
  </div>
</footer>
