h1{
  font-family: monospace;
  color: #69F072;
}

/**********************************************************/
/* Breacrumb */
/**********************************************************/
.breadcrumb {
  background-color: var(--dark-green);
  padding: var(--spacing-md);
  border-radius: var(--border-radius);
  margin-bottom: var(--spacing-lg);
  display: flex;
  gap: var(--spacing-sm);
}

.breadcrumb li {
  font-family: 'vrcosd', monospace;
  color: var(--medium-green);
}

.breadcrumb-item a {
  color: var(--primary-green);
  transition: color 0.3s ease;
}

.breadcrumb-item a:hover {
  color: var(--light-muted-green);
  text-decoration: underline;
}
/**********************************************************/
/* Accordion */
/**********************************************************/
.accordion-item {
  font-family: 'vrcosd', monospace;
  border: 1px solid var(--muted-green);
  border-radius: var(--border-radius);
  margin-bottom: var(--spacing-md);
  overflow: hidden;
}

.accordion-button {
  background-color: var(--muted-green);
  color: var(--primary-green);
  font-weight: bold;
  padding: var(--spacing-md);
  width: 100%;
  text-align: left;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.accordion-button:hover {
  background-color: var(--hover-green);
  color: var(--light-muted-green);
}

.accordion-button:not(.collapsed) {
  background-color: var(--hover-green);
  color: var(--light-muted-green);
}

.accordion-button:not(.collapsed) {
  background-color: #607062; /* Fondo más oscuro cuando está expandido */
  color: #78C47D; /* Color del texto cuando está expandido */

}

.accordion-button:focus {
  outline: none;
  box-shadow: var(--crt-glow);
}

.accordion-body {
  background-color: var(--dark-green);
  color: var(--primary-green);
  padding: var(--spacing-md);
  border-top: 1px solid var(--medium-green);
  transition: max-height 0.3s ease;
}

.accordion-header {
  margin-bottom: 0; /* Sin margen inferior */
}

.accordion-button:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Sombra al enfocar */
}

.accordion-button::after {
  filter: invert(1); /* Invertir el color del icono */
}

/* Estilos para el carrusel dentro del accordion */
.carousel-inner img {
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .accordion-button {
    font-size: 0.9rem;
  }
  .accordion-body {
    padding: var(--spacing-sm);
  }
}

@media (max-width: 576px) {
  .accordion-button {
    font-size: 0.8rem; /* Reducir aún más el tamaño de la fuente en pantallas muy pequeñas */
  }

  .accordion-body {
    padding: 0.5rem; /* Reducir aún más el padding en pantallas muy pequeñas */

  }
}
