<nav class="navbar navbar-expand-lg px-3">
  <!-- Logo y Nombre -->
  <a class="navbar-brand d-flex align-items-center" routerLink="/">
    <i class="fas fa-gamepad me-2"></i>
    <span class="fw-bold">Gamehub</span>
  </a>

  <!-- Botón Toggle para móviles -->
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Contenido del Navbar -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <!-- Menú de navegación centrado -->
    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">
          <i class="fas fa-home"></i> Inicio
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/productos">
          <i class="fas fa-newspaper"></i> Productos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">
          <i class="fas fa-envelope"></i> Contacto
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">
          <i class="fas fa-info-circle"></i> Acerca de
        </a>
      </li>
    </ul>

    <!-- Botones de usuario y carrito alineados a la derecha -->
    <div class="d-flex align-items-center gap-2 ms-lg-3 mt-3 mt-lg-0">
      <ng-container *ngIf="!authServices.isLoggedIn()">
          <a class="btn btn-outline-light btn-sm" routerLink="/login">
            Iniciar Sesión
          </a>
          <a class="btn btn-outline-light btn-sm" routerLink="/register">
            Registrarse
          </a>
      </ng-container>
      <ng-container *ngIf="authServices.isLoggedIn()">
        <button
          class="btn btn-outline-light btn-sm d-flex align-items-center"
          (click)="toggleSidebar()"
          [attr.aria-expanded]="isSidebarOpen"
        >
          <i class="fas fa-user-circle me-1"></i> Mi Cuenta
        </button>
      </ng-container>
      <!-- Botón del carrito -->
      <a
        routerLink="/cart"
        class="btn btn-cart btn-sm position-relative d-flex align-items-center ms-2"
        aria-label="Carrito"
      >
        <i class="fas fa-shopping-cart fa-lg"></i>
        <span
          *ngIf="cartService.totalItems > 0"
          class="cart-badge badge rounded-pill bg-danger position-absolute top-0 start-100 translate-middle"
        >
          {{ cartService.totalItems }}
        </span>
      </a>
    </div>
  </div>
</nav>
<app-sidebar
  [isOpen]="isSidebarOpen"
  (closeSidebar)="toggleSidebar()"
></app-sidebar>
