<div class="container-fluid d-flex flex-column min-vh-100">
  <header class="row">
    <div class="col-md-12">
      <app-header></app-header>
    </div>
  </header>
  <nav class="row">
    <div class="col-md-12">
      <app-navbar></app-navbar>
    </div>
  </nav>
  <main class="row flex-grow-1 mt-5">
    <div class="col-md-12">
      <!-- Aquí va el contenido principal de la aplicación -->
      <app-contentFather></app-contentFather>
    </div>
  </main>
  <footer class="row mt-5">
    <div class="col-md-12">
      <app-footer></app-footer>
    </div>
  </footer>
</div>
