<div class="container-fluid d-flex flex-column min-vh-100">


  <nav class="row">
    <div class="col-md-12">
      <app-navbar></app-navbar>
    </div>
  </nav>

  <main class="row flex-grow-1 ">
    <div class="col-md-12">
      <!-- Aquí se renderizará el contenido de las rutas -->

        <app-cart-sidebar></app-cart-sidebar>
      <router-outlet></router-outlet>
    </div>
  </main>

  <footer class="row">
    <div class="col-md-12">
      <app-footer></app-footer>
    </div>
  </footer>
</div>
