.custom-footer {
  background-color: #1B331C;
  border-color: #69F072;
  border-style: solid;
  font-family: monospace;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
.custom-footer p {
  color: #69F072;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 0.5rem;
}

.footer-links a {
  color: #69F072;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}


.social-icons a {
  color: #69F072;
  margin: 0 0.5rem;
  font-size: 1.5rem;
  transition: transform 0.3s ease-in-out;
}

.social-icons a:hover {
  transform: scale(1.2);
}

.footer-bottom {
  background-color: #23272b;
  padding: 1rem 0;
}
