.custom-footer {
  background-color: var(--dark-green);
  border-top: 2px solid var(--primary-green);
  padding: var(--spacing-lg);
  width: 100%;
  position: relative;
  font-family: 'vrcosd', monospace;
}

.custom-footer p {
  color: var(--primary-green);
}

.footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-md);
}

.footer-links li {
  margin-bottom: 0.5rem;
}

.footer-links a {
  color: var(--primary-green);
}

.footer-links a:hover {
  text-decoration: underline;
}


.social-icons a {
  color: var(--primary-green);
  margin: var(--spacing-sm);
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.2);
}

.footer-bottom {
  background-color: var(--muted-green);
  padding: var(--spacing-md) 0;
}
