
/***************************************************************/
/***************************************************************/
.colum-text {
  font-weight: bold;

  margin-top: 20px;
  padding: 20px;

}

.colum-text h1 {
  font-family: monospace;
  color: #304531;
  font-size: 25px;
}

.colum-text p {
  color: #607062;
  font-family: 'vrcosd', monospace;
  font-size: 14px;
  text-align: justify !important;
}

.colum-form {
  padding: 20px;
}

/***************************************************************/
/***************************************************************/

.colum-form {

  margin-top: 20px;
  border-radius: 10px;
  font-family: 'vrcosd', monospace;
  font-size: 17px;
}

.colum-form a{

  font-size: 17px;
  color: #78C47D;
}

.colum-form .btn-primary {
  font-family: 'vrcosd', monospace;
  font-size: 17px;

  background-color: #304531;
  color: #69F072;
}

.colum-form .text-danger small {
  font-size: 17px;
  background-color: #78C47D;
  border-radius: 5px;
  padding: 3px;
  color: #1B331C;
}
