<div class="card" style="width: 18rem;">
  <!-- <img src="{{ videogame.image }}" class="card-img-top" alt="{{ videogame.title }}"> -->
  <div class="card-body">
    <h5 class="card-title">{{ videogame.title }}</h5>
    <p class="card-text">
      <strong>Género:</strong> {{ videogame.genre }}<br>
      <strong>Plataforma:</strong> {{ videogame.platform }}<br>
      <strong>Calificación:</strong> {{ videogame.rating }}<br>
      <strong>Publicador:</strong> {{ videogame.publisher }}<br>
      <strong>Fecha de lanzamiento:</strong> {{ videogame.release }}<br>
      <strong>Estado:</strong> {{ videogame.status }}
    </p>
  </div>
</div>
